html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

.center-container {
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 100%; 
  position: relative;
}

#logo {
  animation: float 3s linear infinite;
  position: absolute;
  bottom: 60px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(1rem);
  }
}
